html { 
    overflow-y: scroll; overflow-x:hidden; 
    overflow-x:hidden;
    width:100%; 
    margin:0;
 }

 body {
    background-color: #1d1c1f;
    overflow: scroll;
 }

.home {
  color: white;
  font-family: 'Inconsolata', monospace;
  margin-top: 10px;
}


h1 {
    color: white;
    font-family: 'Inconsolata', monospace;
  }

h2 {
    color: white;
    font-family: 'Inconsolata', monospace;
  }

h3 {
    color: white;
    font-family: 'Inconsolata', monospace;
  }

p {
    color: white;
    font-family: 'Inconsolata', monospace;
    white-space: initial;
    word-break: break-word;
  }

.description {
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    word-break: break-word;
    word-wrap: break-word;
  }

.description_h2 {
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    padding-top: 50px;
    word-break: break-word;
}

.container {
    display: flex;
    justify-content: center;
    height: 10em;
    display: flex;
    align-items: center; 
    width: 100%;
    word-wrap: break-word;
    white-space: initial;
    word-break: break-word;
    overflow-wrap: break-word;
  }

.nav {
    color: white;
    font-family: 'Inconsolata', monospace;
    right: 500px;
    position: absolute;
    margin-top: -115px;

    /* Remove bullets from list */  
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    
    /* Make list horizontal */  
    li {
        display: inline;
      }

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.list{
    color: white;
    font-family: 'Inconsolata', monospace;
    display: flex;
    align-items: center; 

}

.codeblock {
    background: #252627;
    border: 1px solid #531b61;
    color: #ffffff;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    block-size: 100%;
}

@media only screen and (max-width: 600px) {
    
  .codeblock{
    width: 65%;
  }
  .container {
    width: 65%;
  }
  .nav {
    right: 330px;
    position: absolute;
    margin-top: 40px;

  }
} 

tab {
  display: inline-block;
  margin-left: 40px;
}

.top{
  color: rgb(157, 64, 219);
  font-family: 'Inconsolata', monospace;
  margin-left: auto;
  margin-right: auto;
  width: 35em;
  text-align: right;
  padding-bottom: 5em;
}